@charset "UTF-8";
/* CSS Document */

body{

font-family:"Times New Roman", Times, serif;
color:#000000;
font-size:48px;
background-color:#FFFFFF;
margin-top:0px;
}

.homebutton{
    /* Adding the rounded corners */
    border-radius: 5px;

    border: 1px solid;
    padding: 10px 20px;
    background-color: light blue;
    border-color: blue;
    font-size: 2em;
    cursor: pointer;
}
